<ion-header>
  <ion-toolbar>
    <ion-title>
      calculo IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">Altura</ion-label>
                    <ion-input [(ngModel)]="altura"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Peso</ion-label>
                <ion-input [(ngModel)]="peso"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-button color="success" expand="block" (click)="calculaImc()">CALCULAR</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Resultado</ion-label>
                  <ion-input readonly="true" [value]="exibeResultado()"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">Situação</ion-label>
                <ion-input readonly="true" [value]="exibeSituacao()"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
